<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id="root">
	<ul>
		<li v-for="name in names">{{name}}</li>
	</ul>
	<hr>
	<ul>
		<li v-for="name in names" v-text="name"></li>
	</ul>

	<input type="text" id="input"  ></input>
	
</div>
<script src="https://unpkg.com/vue"></script>

<script >
	
	vm = new Vue({
	
		el: "#root",	
		data:{
			names:['name 1', 'name 2','name 3',]
		}
		,
		mounted(){
			alert('ready to work');//work like document.ready
		}
	});
</script>
</body>
</html>